<form [formGroup]="filterFormGroup">
    <div class="row mt-2">
        <div class="col-3 m-auto">
            Tính Theo Giá Tiền(VND)

        </div>
        <div class="col-9">
            <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice"
                        [options]="options"></ng5-slider>
        </div>

    </div>
<!--    Nồng Độ Mùi Hương-->
    <div class="row">
        <div class="col-3">
            <select class="form-control" [formControl]="filterFormGroup.get('producer')">
                <option [ngValue]="null">==NSX==</option>
                <option *ngFor="let producer of producers" [ngValue]="producer">{{producer.name}}</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-control">
                <option>==Nồng Độ==</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-control">
                <option>==Mùi Hương==</option>
            </select>
        </div>
        <div class="col-3">
            <button (click)="filterAction()" class="btn btn-success w-100">Tìm</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex  align-items-baseline justify-content-between">
            <div class="d-inline">
                <span (click)="clearFilter()" class="filter-elements tag-elements">Clear Filter
                     <a href="#" data-key="capa_id"><i class="fa fa-times"></i></a>
                  </span>
                  <span class="filter-elements tag-elements">Tag Filter
                     <a href="#" data-key="capa_id"><i class="fa fa-times"></i></a>
                  </span>
            </div>

            <div class="d-inline">
                <select class="form-control" formControlName="oderBy">
                    <option *ngFor="let oderBy of oderBys" [ngValue]="oderBy.value">{{oderBy.label}}</option>
                </select>
            </div>
        </div>

    </div>
</form>


